.page-container
{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 80vh; 
}

.login-register-box {
  background-color: #060b26;
  width: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Arial, sans-serif;
}

.login-register-box h2 {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ccc;
}


.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #18233c;
  color: #fff;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ccc;
}

p button {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

p button:hover {
  background-color: #0056b3;
}
